root {
  background-color: #838383;
}
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
.login-card {
  margin: auto;
  background-color: white;
  box-shadow: 1px 1px 6px #888888;
  padding: 1.2rem;
  border-radius: 1.2rem;
}
.title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #19063d;
}
form {
  margin: 2rem 0;
}
.form-control {
  display: flex;
  flex-direction: column;
  margin: 1.2rem 0;
}
.form-control label {
  font-weight: bold;
}
.form-control input {
  border-style: none;
  box-shadow: 1px 1px 6px #838383;
  margin-top: 0.4rem;
  padding: 0.4rem;
  border-radius: 2rem;
}
.right-text{
    text-align: right;
    font-size: small;
    font-weight: bold;
    color: #19063d;
}
.btn {
    border-style: none;
    box-shadow: 1px 1px 6px #838383;
    margin-top: 0.4rem;
    padding: 0.4rem;
    border-radius: 2rem;
    width: 100%;
}
.btn-primary{
    background-color: #19063d;
    color: white;
    font-weight: bold;
}