root{
    background-color: #838383;
}
.login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-card{
    margin:auto;
    background-color: white;
    box-shadow: 1px 1px 6px #888888;
    padding: 1.2rem;
}
.title{
    font-size: 1.4rem;
    font-weight: bold;
    color: #19063d;
}