.drawer-header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 0.6rem;
  font-weight: bold;
  border-bottom-style:solid ;
  border-bottom-color:white ;
  padding-bottom: 2rem;
  border-bottom-width:0.2px ;
}
.drawer-logo{
    font-size: 1.6rem;
}
.pages{
    margin-top: 2rem;
    margin-right: 0.8rem;
    margin-left: 0.8rem;
}
.pages .page{
    color: white;
    font-weight: bold;
}
